<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입화면</title>

</head>
<body>
<p th:text="${failed}"></p>
<div>
    <form method="post" th:action="@{/signUp/login}" th:object="${blogForm}">
        <label>아이디</label><br>
        <input type="text" placeholder="아이디 입력" th:field="*{id}"><br>
        <label>패스워드</label><br>
        <input type="password" placeholder="패스워드 입력" th:field="*{psw}"><br>
        <label>이름</label><br>
        <input type="text" placeholder="이름 입력" th:field="*{name}"><br>
        <label>이메일</label><br>
        <input type="email" placeholder="이메일 입력" th:field="*{email}"><br>
        <input type="submit" value="가입하기">

    </form>
</div>
</body>
</html>