.hambuger {
  cursor: pointer;
}

.topMenu {
  display: flex;
  justify-content: space-around;
  height: 30px;
}
.centerMenu {
  border: 1px solid black;
  border-radius: 26px;
  text-align: center;
  width: 600px;

  height: 59px;
  margin: 0 auto;
}
.search_input {
  height: 59px;
  border: none;
  line-height: 59px;
}
li {
  list-style: none;
}
.floatL {
  float: left;
}
.btnMenus {
  height: 72px;
  text-align: center;
  margin-left: 36em;
}
.padding {
  padding: 0.5em;
}
.ad > a > img {
  width: 830px;
  height: 130px;
  margin-top: 10px;
  margin-left: 30px;
  border: 1px solid;
  border-radius: 15px;
}
a {
  text-decoration: none;
  color: black;
}
.small {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 9px 7px 0;
  border-radius: 50%;
  vertical-align: top;

  background-color: black;
}
.newsimgHref > div > a > img {
  width: 156px;
  height: 104px;
}
.newsimgHref {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 300px;
}
.newsBox {
  width: 830px;
  height: 426px;
  border: 1px solid;
  border-radius: 7px;
  margin-left: 30px;
  margin-top: 10px;
}
.newName {
  font-size: 20px;
}
.newsSecondName {
  border: 1px solid;
  background-color: #f5f7f8;
  border-radius: 4px;
  width: 790px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}
.nextPage {
  text-align: center;
  border-top: 1px solid;
  line-height: 70px;
  font-size: 17px;
}
.shoppinghref {
  width: 248px;
  height: 88px;
  font-size: 13px;
  line-height: 20px;
  content: "";
  float: left;
  margin-left: 20rem;
  background-color: #f5f7f8;
  border-radius: inherit;
  border: 1px solid;
}
.imgBox > div > a > img {
  width: 98px;
  height: 126px;
}
.imgBox {
  float: left;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 250px;
}
.shoppinghref2 {
  float: left;
  width: 248px;
  background-color: #f5f7f8;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid;
  margin-top: 20px;
  font-size: 15px;
}
.shoppinghref3 {
  border: 1px solid;
  margin-top: 20px;
}
.shoppingfoot {
  width: 830px;
  height: 58px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid;
  line-height: 55px;
}
.shoppingBox {
  margin-left: 30px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 6px;
  width: 830px;
}
aside {
  float: left;
  border: 1px solid;
  border-radius: 14px;
  margin-left: 5em;
  margin: 40px, 0, 0;
  /* margin: 10px auto; */
  width: 420px;
  height: 164px;
  margin-top: 10px;
}
.l {
  border-right: 1px solid;
  width: 4px;
  height: 20px;
  font-weight: lighter;
}
.wether {
  border: 1px solid;
  height: 56px;
  border-radius: 14px;
  padding-left: 10px;
  border-radius: 14px;
  line-height: 56px;
  margin-top: 10px;
}
.sun {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_weather.11654bc0.png);
  background-size: 641px 587px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 86px;
  height: 86px;
}
.twocl {
  content: "";
  display: block;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_weather.11654bc0.png);
  background-size: 641px 587px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 76px;
  height: 76px;
}
.top {
  border-radius: 14px;
  border: 1px solid;
  width: 420px;
}
